{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Patients {% endblock %}</h1>
    <div class="content">
        {% for patient in patients %}
            <div class="student">
                <p><b>#{{ patient.id }}</b></p>
                <b>
                    <p class="name">{{ patient.name }} {{ student.lastname }}</p>
                </b>
                <p>{{ patient.email }}</p>
                <p>{{ student.age }} years old.</p>
                <p>Joined: {{ student.created_at }}</p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ student.bio }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}