<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acknowledgments</title>
</head>
<body>
   <h1>Acknowledgments</h1>
   <p>We are grateful to Dr. Georg von Wühlisch for the initiation of the Russian-German collaborative MaRussiA project. We thank Dr. Dmitry Danilov for his help with the field work during the establishment of the hybrid aspen plantation in Saint Petersburg’s area (Druzhnaja Gorka).</p>
   <p>This work was supported by the Ministry of Food and Agriculture of Germany (MaRussiA project, 2015–2016) and by scientific project no. 37.1521.2014/K of the Ministry of Science and Education of the Russian Federation. SVN collaboration with VIR was supported from Zumberg Foundation USC grant. The publication costs were funded by the MaRussiA project.</p>
   <p>Supporting data are included as additional files.</p>
   <p>This article has been published as part of BMC Plant Biology Volume 17 Supplement 1, 2017: Selected articles from PlantGen 2017. The full contents of the supplement are available online at https://bmcplantbiol.biomedcentral.com/articles/supplements/volume-17-supplement-1.</p>
</body>
</html>
