<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>author_information</title>
</head>
<body>
   <h1>Author information</h1>
   <h3>Affiliations</h3>
   <p>    Saint Petersburg State Forest Technical University, Institutskiy per, 5, 194021, St. Petersburg, Russia

    Anatoly V. Zhigunov, Pavel S. Ulianich, Marina V. Lebedeva & Elena K. Potokina

    Vavilov Institute of Plant Genetic Resources (VIR), Bolshaya Morskaya, 42-44, 190000, St. Petersburg, Russia

    Pavel S. Ulianich, Marina V. Lebedeva & Elena K. Potokina

    University of Southern California, Los Angeles, CA, 90089, USA

    Peter L. Chang & Sergey V. Nuzhdin

    Saint Petersburg State University, Universitetskaya emb. 7/9, St. Petersburg, 199034, Russia

    Elena K. Potokina</p>
   <h3>Contributions</h3>
   <p>AVZ created the F1 population, established the full-siblings’ plantations, coordinated the collection of phenotyping data. PSU built the linkage maps, performed synteny analysis. PSU and MVL prepared the RADseq libraries. MVL made phenotyping, performed QTL analysis. PLC analyzed the Illumina reads, made SNP calling, performed admixture analysis. SVN contributed to the design of the study and granted the access to Illumina sequencing. EKP conceived the study and along with PLC wrote the manuscript. All authors read and approved the final manuscript.</p>
   <h3>Corresponding author</h3>
   <p>Correspondence to Elena K. Potokina.</p>
</body>
</html>
