<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>conclusions</title>
</head>
<body>
   <h1>Conclusions</h1>
   <p>In the present study we describe a set of 15,732 SNPs polymorphic within P. tremula, a plant that has the widest-known geographic distributions of any tree species. The SNPs were obtained by RADseq genotyping of two parental aspen trees and their 122 F1 progenies followed by mapping of 20.17 million Illumina reads to the P. trichocarpa reference genome. 2055 of the SNP markers were successfully employed for the construction of high-resolution maternal and paternal linkage maps of the intraspecific aspen cross. The constructed linkage maps were successfully employed for mapping of QTLs related to plant height variation in the full sibling family. The high resolution linkage map and the set of SNP markers will provide a valuable source for QTL mapping and association studies in P. tremula facilitating marker-assisted selection in European aspen.</p>
</body>
</html>
