<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project!</title>
</head>
<body>
   <h1>Development of F1 hybrid population and the high-density linkage map for European aspen (Populus tremula L.) using RADseq technology</h1>
   <h4>Anatoly V. Zhigunov, Pavel S. Ulianich, Marina V. Lebedeva, Peter L. Chang, Sergey V. Nuzhdin and Elena K. Potokina</h4>
   <h3>https://doi.org/10.1186/s12870-017-1127-y</h3>   
   <p><a href="{{ url_for('abstract') }}">- abstract</a></p2>
   <p><a href="{{ url_for('background') }}">- background</a></p2>
   <p><a href="{{ url_for('methods') }}"> - methods</a></p2>
   <p><a href="{{ url_for('results') }}">- results</a></p2>
   <p><a href="{{ url_for('conclusions') }}">- conclusions</a></p2>
   <p><a href="{{ url_for('references') }}">- references</a></p2>
   <p><a href="{{ url_for('acknowledgments') }}">- acknowledgments</a></p2>
   <p><a href="{{ url_for('author_information') }}">- author information</a></p2>
   <p><a href="{{ url_for('ethics_declarations') }}">- ethics declarations</a></p2>
   <p><a href="{{ url_for('rights_and_permissions') }}">- rights and permissions</a></p2>
   <p><a href="{{ url_for('cite_this_article') }}">- cite this article</a></p2>
</body>
</html>
