<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ethics_declarations</title>
</head>
<body>
   <h1>Ethics declarations</h1>
   <h3>Ethics approval and consent to participate</h3>
   <p>This study does not contain any research requiring ethical consent or approval.</p>
   <h3>Consent for publication</h3>
   <p>Not applicable.</p>
   <h3>Competing interests</h3>
   <p>The authors declare that they have no competing interest.</p>
   <h3>Publisher’s Note</h3>
   <p>Springer Nature remains neutral with regard to jurisdictional claims in published maps and institutional affiliations.</p>
</body>
</html>
